:javascript
  $.ajax({
      url: "/manager/elb_status",
      cache: false,
      success: function(html){
        $("#elb-status").html(html);
      }
  });

  $.ajax({
      url: "/manager/image_stats",
      cache: false,
      success: function(html){
        $("#image-stats").html(html);
      }
  });

  $.ajax({
      url: "/manager/worker_status",
      cache: false,
      success: function(html){
        $("#worker-status").html(html);
      }
  });
=#{ #$(document).ready(function() {setInterval(function() {$("#worker-status").load("/manager/worker_status");}, 30000);});}

%h2 Load Balancer
#elb-status
  Loading...

%hr
%h2 Worker Pool
#form-worker-refresh
  = form_tag manager_worker_status_path, method: 'get', remote: true do
    = submit_tag "Refresh", class: "btn btn-default"
#worker-status
  Loading...

%hr
%h2 Image Stats
#image-stats
  Loading...

%hr
%h3 Auto-Scaling: Configuration
#form-autoscale
  = form_tag manager_auto_scale_path, remote: true do
    #autoscale-config
      .form-group
        = check_box_tag 'autoscale[enabled]', 1, @autoscale.enabled?
        Enable Auto-Scaling
      .form-group
        CPU threshold for growing the working pool
        = text_field_tag 'autoscale[grow_cpu_thresh]', @autoscale.grow_cpu_thresh
      .form-group
        CPU threshold for shrinking the working pool
        = text_field_tag 'autoscale[shrink_cpu_thresh]', @autoscale.shrink_cpu_thresh
      .form-group
        Ratio for growing the working pool
        = text_field_tag 'autoscale[grow_ratio_thresh]', @autoscale.grow_ratio_thresh
      .form-group
        Ratio for shrinking the working pool
        = text_field_tag 'autoscale[shrink_ratio_thresh]', @autoscale.shrink_ratio_thresh
      .form-group
        Max instances
        = text_field_tag 'autoscale[max_instances]', @autoscale.max_instances

    .form-group
      = submit_tag "Update",  class: "btn btn-info", id: "update"
