:javascript
  $().ready(function() {
    $.ajax({
        url: "/manager/elb_status",
        cache: false,
        success: function(html){
          $("#elb-status").html(html);
        }
    });

    $.ajax({
        url: "/manager/image_stats",
        cache: false,
        success: function(html){
          $("#image-stats").html(html);
        }
    });

    $.ajax({
        url: "/manager/worker_status",
        cache: false,
        success: function(html){
          $("#worker-status").html(html);
          $('#form-worker-refresh .spinner').hide();
        }
    });

    $('#form-worker-refresh input[name="commit"]').click(function() {
      $('#form-worker-refresh .spinner').show();
    });

    $('#form-autoscale input[name="commit"]').click(function() {
      $('#form-autoscale .spinner').show();
    });

    $('#form-autoscale .spinner').hide();
  });

=#{ #$(document).ready(function() {setInterval(function() {$("#worker-status").load("/manager/worker_status");}, 30000);});}

%h2 Load Balancer
#elb-status
  = image_tag("spinner.gif", :alt => "Loading...", :style => "height: 25px;", :class => "spinner")
- if Rails.env.development?
  = form_tag manager_reset_alarms_path, remote: true do
    = submit_tag "Reset Alarms", class: "btn btn-danger"

%hr
%h2 Worker Pool
#form-worker-refresh
  = form_tag manager_worker_status_path, method: 'get', remote: true do
    = submit_tag "Refresh", class: "btn btn-default"
    = image_tag("spinner.gif", :alt => "Loading...", :style => "height: 25px;", :class => "spinner")
    #worker-status

%hr
%h2 Image Stats
#image-stats
  = image_tag("spinner.gif", :alt => "Loading...", :style => "height: 25px;", :class => "spinner")

%hr
%h3 Auto-Scaling: Configuration
#form-autoscale
  = form_for @autoscale, url: manager_auto_scale_url, method: :post, remote: true do |f|
    #autoscale-config
      .form-group
        = f.check_box :enabled
        Enable Auto-Scaling
        - if @autoscale.cooling_down?
          = "(Cooldown expires in #{(@autoscale.cooldown_expires_at - Time.now).to_i} seconds...)"
      .form-group
        CPU threshold for growing the working pool
        = f.text_field :grow_cpu_thresh
      .form-group
        CPU threshold for shrinking the working pool
        = f.text_field :shrink_cpu_thresh
      .form-group
        Ratio for growing the working pool
        = f.text_field :grow_ratio_thresh
      .form-group
        Ratio for shrinking the working pool
        = f.text_field :shrink_ratio_thresh
      .form-group
        Max instances
        = f.text_field :max_instances
      .form-group
        Cooldown period in seconds
        = f.text_field :cooldown_period_in_seconds

    .form-group
      = submit_tag "Update",  class: "btn btn-info", id: "update"
      = image_tag("spinner.gif", :alt => "Updating...", :style => "height: 25px;", :class => "spinner")

