:javascript
  $.ajax({
      url: "/manager/worker_status",
      cache: false,
      success: function(html){
        $("#worker-status").html(html);
      }
  });

  $.ajax({
      url: "/manager/elb_status",
      cache: false,
      success: function(html){
        $("#elb-status").html(html);
      }
  });

  $.ajax({
      url: "/manager/image_stats",
      cache: false,
      success: function(html){
        $("#image-stats").html(html);
      }
  });

%h2 Load Balancer
#elb-status
  Loading...

%hr
%h2 Worker Pool
#worker-status
  Loading...

%hr
%h2 Image Stats
#image-stats
  Loading...

%hr
%h3 Auto-Scaling: Configuration
#form-autoscale
  = form_tag manager_auto_scale_path, remote: true do
    .checkbox
      %label 
        = check_box_tag 'cpu_grow_threshold', true, AutoScale.grow_cpu.present?
        CPU threshold for growing the working pool
    .checkbox
      %label 
        = check_box_tag 'cpu_shrink_threshold', true, AutoScale.shrink_cpu.present?
        CPU threshold for shrinking the working pool
    .checkbox
      %label 
        = check_box_tag 'ratio_grow_threshold', true, AutoScale.grow_ratio.present?
        Ratio for growing the working pool
    .checkbox
      %label 
        = check_box_tag 'ratio_shrink_threshold', true, AutoScale.shrink_ratio.present?
        Ratio for shrinking the working pool
    = submit_tag "Update",  class: "btn btn-info"
