%h1 Load Balancer
.row
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th URL
    %tbody
      %tr
        %td= @elb.name
        %td= link_to @elb.load_balancer.dns_name, @elb.url, :target => "_blank"

%h1 Worker Pool
.row
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th IP
        %th Hostname
        %th Status
        %th ELB Health
        %th CPU %
    %tbody
      - @workers.each do |w|
        %tr
          %td= w.instance.id
          %td= link_to w.instance.public_ip_address, "http://#{w.instance.public_ip_address}", :target => "_blank"
          %td= link_to w.instance.public_dns_name, "http://#{w.instance.public_dns_name}", :target => "_blank"
          %td= w.status
          %td= @health[w.instance.id][:state]
          %td= w.latest_cpu_utilization.to_f.round(2)


= link_to "Launch Another Instance", manager_start_instance_path, {:method => :put, :confirm => "Are you sure?"}
