%h1 Load Balancer
.row
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th URL
    %tbody
      %tr
        %td= @elb.name
        %td= link_to @elb.load_balancer.dns_name, @elb.url, :target => "_blank"

%h1 Worker Pool
.row
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th IP
        %th Hostname
        %th Status
        %th ELB Health
        %th CPU %
        %th Actions
    %tbody
      - @workers.each do |w|
        %tr
          %td= w.instance.id
          %td= worker_public_ip(w)
          %td= worker_public_dns(w)
          %td= w.status
          %td= worker_health(w)
          %td= w.latest_cpu_utilization.to_f.round(2)
          %td
            - if safe_to_stop?(w)
              = link_to "Stop", manager_stop_instance_path, :method => :delete, :confirm => "Are you sure?"
              |
            - if safe_to_terminate?(w)
              = link_to "Terminate", manager_terminate_instance_path, :method => :delete, :confirm => "Are you sure?"

= link_to "Launch Another Instance", manager_start_instance_path, :method => :put, :confirm => "Are you sure?"
