:javascript
  $.ajax({
      url: "/manager/worker_status",
      cache: false,
      success: function(html){
        $("#worker-status").html(html);
      }
  });

  $.ajax({
      url: "/manager/elb_status",
      cache: false,
      success: function(html){
        $("#elb-status").html(html);
      }
  });

  $.ajax({
      url: "/manager/image_stats",
      cache: false,
      success: function(html){
        $("#image-stats").html(html);
      }
  });




%h2 Load Balancer
#elb-status
  Loading...

%hr
%h2 Worker Pool
/TODO: investigate why this isn't working
= form_tag manager_worker_status_path, method: 'get', remote: true do
  = button_tag "Refresh", class: "btn btn-default"
#worker-status
  Loading...

%hr
%h2 Image Stats
#image-stats
  Loading...

%hr
%h3 Auto-Scaling: Configuration
#form-autoscale
  = form_tag manager_auto_scale_path, remote: true do
    .checkbox
      %label 
        = check_box_tag 'enable_autoscale', true, AutoScale.is_enabled?
        Enable Auto-Scaling
    #autoscale-config
      .form-group
        CPU threshold for growing the working pool
        = text_field_tag 'cpu_grow_val', AutoScale.grow_cpu_thresh
      .form-group
        CPU threshold for shrinking the working pool
        = text_field_tag 'cpu_shrink_val', AutoScale.shrink_cpu_thresh
      .form-group
        Ratio for growing the working pool
        = text_field_tag 'ratio_grow_val', AutoScale.grow_ratio_thresh
      .form-group
        Ratio for shrinking the working pool
        = text_field_tag 'ratio_shrink_val', AutoScale.shrink_ratio_thresh
    .form-group
      = submit_tag "Update",  class: "btn btn-info", id: "update"
