= form_for @image do |f|
  - if @image.errors.any?
    #error_explanation
      %h2= "#{pluralize(@image.errors.count, "error")} prohibited this image from being saved:"
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg

  .form_group
    = hidden_field_tag 'userID', params[:user_id]
    = f.label "Select an image file to upload"
    .form_control
      = f.file_field :theFile

  .btn
    = f.submit 'Save'
