%h1 My Images

%br
= link_to(new_user_image_path(current_user), class: "btn btn-primary") do
  %span.glyphicon.glyphicon-upload 
  Upload an Image

- if @images.any?
  .container-fluid
    .row
      %table.table.table-striped
        %thead
          %tr
            %th ID
            %th File name
            %th Preview
            %th Actions
        %tbody
          - @images.each do |image|
            %tr
              %td.text-muted
                = link_to image.id, user_image_path(current_user, image)
              %td
                = link_to image.original_filename, user_image_path(current_user, image)
              %td= link_to image_tag(thumbnail_for_image(image)), user_image_path(current_user, image)
              / %td= link_to 'Edit',    edit_user_image_path(current_user, image)
              %td= link_to 'Delete', user_image_path(current_user, image), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
