%h1 Users

#notice
  = notice

.container-fluid
  .row
    %table.table.table-striped
      %thead
        %tr
          %th User ID
          %th Login
          %th Password
          %th # Images
      %tbody
        - @users.each do |user|
          %tr
            %td= user.id
            %td= user.login
            %td= user.password
            %td= user.images.count
