#notice
  = notice

%p
  %strong=  "Login: #{current_user.login}"

%p
  %strong= "Password: #{current_user.password} "


%br
= link_to('Upload an image', new_user_image_path(current_user))

%br
%br
= link_to('View all images', user_images_path(current_user))
