#notice
  = notice

%p
  %strong=  "Login: #{@user.login}"

%p
  %strong= "Password: #{@user.password} "


%br
= link_to('Upload an image', new_user_image_path(@user))

%br
%br
= link_to('View all images', user_images_path(@user))
